{
        "timeout": false,
        "success": true,
        "data": [
        {"startTime": "08:30:00", "command": "python ./tools/python/showMsg.py 'good mooning!'"},
        {"startTime": "10:00:00", "command": "python ./tools/python/showMsg.py 'have a rest!'"},
        {"startTime": "11:50:00", "command": "python ./tools/python/showMsg.py 'start lunch!'"},
        {"startTime": "13:30:00", "command": "python ./tools/python/showMsg.py 'time to work!'"},
        {"startTime": "15:50:00", "command": "python ./tools/python/showMsg.py 'time to rest!'"},
        {"startTime": "16:42:00", "command": "python ./tools/python/showMsg.py 'remember laugh!'"},
        {"startTime": "17:00:00", "command": "python ./tools/python/showMsg.py 'drink or not?'"},
        {"startTime": "18:00:00", "command": "python ./tools/python/showMsg.py 'take care, off work now'"}
        ]
}
