{
        "timeout": false,
        "success": true,
        "data": [
        {"startTime": "[08:30:00]", "command": "echo 'good mooning!'"},
        {"startTime": "[10:00:00]", "command": "echo 'have a rest!'"},
        {"startTime": "[11:50:00]", "command": "echo 'start lunch!'"},
        {"startTime": "[14:30:00]", "command": "echo 'time to work!'"},
        {"startTime": "[15:50:00]", "command": "echo 'time to rest!'"},
        {"startTime": "[18:00:00]", "command": "echo 'take care, off work now'"}
        ]
}
